<app-admin-navbar></app-admin-navbar>
<app-employee-navlink></app-employee-navlink>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h2>List of Employees</h2>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">Employee code</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor ="let i of data">
                                <td>{{i.empcode}}</td>
                                <td>{{i.empname}}</td>
                                <td>{{i.designation}}</td>
                                <td>{{i.salary}}</td>
                                <td>{{i.mail}}</td>
                                <td>{{i.phone}}</td>
                              </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>