<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/viewEmployee">View Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addEmployee">Add Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/searchEmployee">Search Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/deleteEmployee">Delete Employee</a>
    </li>
  </ul>
